<div class="navbar navbar-expand bg-primary mb-4">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <form class="form-inline">
          <div class="form-group">
            <input id="patientSearch"
                   type="search"
                   name="patientSearch"
                   class="form-control ml-1"
                   placeholder="Search for patient"
                   [(ngModel)]="patientSearchQuery"
                   (click)="onEnteringSearchField()"
                   (blur)="onLeavingSearchField()"
                   (keyup)="patientSearch()"
            >
          </div>
          <button class="btn btn-default ml-2" routerLink="/add" skipLocationChange>New Patient</button>
        </form>
      </li>
      <li id="nameAndAge" class="nav-item">
        <h3 id="patientName">{{name}}<span id="patientAge">{{age}} {{yearsOld}}</span>
        </h3>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <router-outlet name="editAndDel"></router-outlet>
      <router-outlet name="cancelButton"></router-outlet>
    </ul>
  </div>
</div>
